{% extends 'base.html.twig' %}

{% block title %}Modifier image
{% endblock %}

{% block body %}

    <h1 class="mb-3 text-secondary">Modifier image</h1>

    {{ form_start(formEdit) }}
        {{ form_rest(formEdit) }}
        <button class="btn btn-primary btn-block my-5">Modifier</button>
    {{ form_end(formEdit) }}


{% endblock %}