{% extends 'base.html.twig' %}

{% block title %}Tableau images{% endblock %}

{# JS #}
{% block javascripts %}
	{# parent récupère les fichiers js dans base.html #}
	{{ parent() }}
	{# defer permet de charger le js après la page #}
	<script src="{{ asset('js/deleteModal.js') }}" defer></script>
{% endblock %}

{% block body %}

	<h1 class="mb-3 text-secondary">Mes images</h1>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}

	<a href="{{ path('account_new_picture') }}" class="btn btn-primary mb-3">Nouvelle image</a>

	<table class="table table-striped table-dark mb-3">
		<thead>
			<tr>
				<th>ID</th>
				<th>Aperçu</th>
				<th>Date de création</th>
				<th>Edition</th>
				<th>Suppression</th>
			</tr>
		</thead>
		<tbody>
			{% for picture in pictures %}
				<tr>
					<td>{{ picture.id }}</td>
					<td><img src="{{ asset('upload/images/photos/'~ picture.image)|imagine_filter('short') }}" alt="{{ picture.image }}" class="rounded"></td>
					<td>{{ picture.createdAt|date('d-m-Y') }}</td>
					<td>
						<a href="{{ path('account_edit_picture', { id: picture.id }) }}" class="btn btn-primary">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewbox="0 0 16 16">
								<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
								<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
							</svg>
						</a>
					</td>
					<td>
						<button type="button" data-id="{{ picture.id }}" class="btn btn-danger confirm-delete">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
								<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
								<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
							</svg>
						</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4" class="text-center text-muted">Aucune image actuellement...</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{{ knp_pagination_render(pictures) }}

	<!-- Modal -->
<div class="modal fade text-dark" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Suppression</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Supprimer cette image ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <a href="" class="btn btn-danger">Confirmer</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
