{% extends 'base.html.twig' %}

{% block title %}Nouvelle image
{% endblock %}

{% block body %}

    <h1 class="mb-3 text-secondary">Nouvelle image</h1>

    {{ form_start(formUpload) }}
    {# {{ form_rest(formUpload) }} #}
    {{ form_row(formUpload.imageFile) }}
    {{ form_row(formUpload.description) }}
    {{ form_row(formUpload.tags) }}
    {{ form_row(formUpload.category) }}
    <button class="btn btn-primary btn-block my-5">Ajouter</button>
    {{ form_end(formUpload) }}


{% endblock %}