{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que :
				{{ app.user.username }}
				<a href="{{ path('app_logout') }}">>> Se déconnecter</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
		{# <label for="inputEmail">Email</label> #}
		<input
		placeholder="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" required autofocus>
		{# <label for="inputPassword">Password</label> #}
		<input placeholder="Mot de passe" type="password" name="password" id="inputPassword" class="form-control mb-3" required>

		<input
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		{#
		        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
		        See https://symfony.com/doc/current/security/remember_me.html
		    #}

		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" name="_remember_me">
				Se souvenir de moi
			</label>
		</div>


		<button class="btn btn-lg btn-primary mb-5" type="submit">
			Se connecter
		</button>
	</form>
{% endblock %}
