{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	{# Catégories #}
	<div class="d-flex justify-content-between">
		{% for categorie in categories %}
			{# path() contient le nom de la route vers laquelle on se redirige #}
			<a href="{{ path('pictures_by_category', { id: categorie.id }) }}" class="text-decoration-none bg-secondary text-light rounded p-1">{{ categorie.name }}</a>
		{% endfor %}
	</div>


	{# Images #}
	<div class="text-center py-5">
		{% for picture in pictures %}
			{# La concaténation en twig se fait avec un tilde ~ (alt+n)  #}
			<a href="{{ path('account_edit_picture', { id: picture.id }) }}">
				<img src="{{ asset('upload/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}" class="w-25 m-2 h-100"></a>
		{% endfor %}
	</div>

	{{ knp_pagination_render(pictures) }}

{% endblock %}
