{% extends 'base.html.twig' %}

{% block title %}La photo "{{ picture.image }}"
{% endblock %}

{% block body %}

	<h1 class="text-center text-secondary">{{ picture.image }}</h1>


	{# Image #}
	<div
		class="row justify-content-center py-5">
		{# La concaténation en twig se fait avec un tilde ~ (alt+n)  #}
		<div class="col-10 bg-dark p-2 card">
			<a href="{{ asset('upload/images/photos/'~ picture.image) }}">
				<img src="{{ asset('upload/images/photos/'~ picture.image)|imagine_filter('medium') }}" alt="{{ picture.image }}" class="card-img-top"></a>
			<p class="card-text my-2">{{ picture.description }}</p>
			<p class="card-text">Tags :
				{{ picture.tags }}</p>
			<p class="text-muted">{{ picture.createdAt|date }}</p>
		</div>
	</div>
	<hr class="bg-light">

	<h1 class="text-center text-secondary">Catégorie : {{ picture.category.name }}</h1>
	{# Images de la même catégorie (picture->category->pictures) #}
    {# is same as() correspond à ===, is not same as() à !== #}
	<div class="text-center py-5">
		{% for photo in photos %}
			{% if photo.id is not same as(picture.id) %}
				<a href="{{ path('picture', { id: photo.id }) }}">
					<img src="{{ asset('upload/images/photos/'~ photo.image)|imagine_filter('thumbnail') }}" alt="{{ photo.image }}" class="w-25 m-2 h-100"></a>
			{% endif %}
		{% endfor %}
	</div>

	{{ knp_pagination_render(photos) }}

{% endblock %}
