{% extends 'base.html.twig' %}

{% block title %}Les photos de la catégorie "{{ categorie.name }}"{% endblock %}

{% block body %}

    <h1 class="text-center text-secondary">Catégorie : {{ categorie.name }}</h1>


    {# Images #}
    <div class="row justify-content-around py-5">
        {% for picture in pictures %}
    {# La concaténation en twig se fait avec un tilde ~ (alt+n)  #}
            <a href="{{ path('picture', { id: picture.id }) }}">
            <img src="{{ asset('upload/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}" class="m-2"></a>
        {% endfor %}
    </div>

    {{ knp_pagination_render(pictures) }}

{% endblock %}
