{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1 class="mb-5">Inscription</h1>

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.firstname) }}
	{{ form_row(registrationForm.lastname) }}
	{{ form_row(registrationForm.email) }}
	<div class="row">
		<div class="col">
			{{ form_row(registrationForm.plainPassword.first) }}
		</div>
		<div class="col">
			{{ form_row(registrationForm.plainPassword.second) }}
		</div>
	</div>
	{{ form_row(registrationForm.agreeTerms) }}

	<button type="submit" class="btn btn-secondary mb-5">S'inscrire</button>
	{{ form_end(registrationForm) }}
{% endblock %}
