<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
            {# asset charge directement le dossier public #}
             <link rel="stylesheet" href="{{ asset('css/style.css') }}"> 
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
			<!-- JavaScript Bundle with Popper -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body class="text-light">

		<nav class="navbar shadow navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('home') }}">Lookimage</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="{{ path('home') }}">Accueil</a>
						</li>
						{% if (app.user is null) %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
						</li>
						
						{% else %}
						<li class="nav-item">
							<span class="nav-link text-warning">Hello, {{ app.user.firstname }} !</span>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('account') }}">Mon compte</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

        <div class="container mx-auto py-5">
		{% block body %}{% endblock %}
        </div>


		<footer class="bg-dark">
			<div class="py-3 text-center">Mentions légales - Vie privée</div>
		</footer>
		
	</body>
</html>
